<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to the Climbing Wall Database</p>
    <p> This database is designed to keep track of climbing gyms, routes and climbers.</p>
    <p> Currently this website is currently keeps track of <%=stats.gym_count%> Gyms</p>



    <br />
<a href="/"><< back</a>
<%- include("./includes/footer.ejs"); %>
